@model vlko.BlogModule.Action.CRUDModel.StaticTextCRUDModel
@{
	ViewBag.Title = "Create";

	Html.ScriptInclude("~/Scripts/jquery.validate.js");
	Html.ScriptInclude("~/Scripts/jquery.validate.unobtrusive.js");
}
<h2>Create</h2>
@using (Html.BeginForm()) {
	<div>
		@Html.ValidationSummary(string.Empty, new { @class = "ui-state-error ui-corner-all" }) 

		<fieldset>
			<legend>Fields</legend>
			
			@Html.EditorFor(model => model.FriendlyUrl) 
			@Html.EditorFor(model => model.Title) 
			@Html.EditorFor(model => model.Text) 
			@Html.EditorFor(model => model.PublishDate) 
			@Html.EditorFor(model => model.AllowComments) 

		</fieldset>
	</div>
	<div class="ajax_ignore">
		<input type="submit" value="Create" />
	</div>
} 

<div class="ajax_ignore">
	@Html.ActionLink("Back to List", "Index") 
</div>

