@model vlko.BlogModule.Action.CRUDModel.StaticTextCRUDModel
@{
	ViewBag.Title = "Edit";

	Html.ScriptInclude("~/Scripts/jquery.validate.js");
	Html.ScriptInclude("~/Scripts/jquery.validate.unobtrusive.js");
}
<h2>Edit</h2>
@using (Html.BeginForm()) {
	<div>
		@Html.ValidationSummary(cssClass: "ui-state-error ui-corner-all")
		
		<fieldset>
			<legend>Fields</legend>

			@Html.HiddenFor(model => model.Id) 			
			@Html.EditorFor(model => model.FriendlyUrl) 
			@Html.EditorFor(model => model.Title) 
			@Html.EditorFor(model => model.Text) 
			@Html.EditorFor(model => model.PublishDate) 
			@Html.EditorFor(model => model.AllowComments) 

		</fieldset>
	</div>
	<div class="ajax_ignore">
		<input type="submit" value="Save" />
	</div>
} 
<div class="ajax_ignore">
	@Html.ActionLink("Back to List", "Index") 
</div>

