@model PagedModel<StaticTextViewModel>
@using vlko.BlogModule.Commands.ViewModel
@using vlko.web.Areas.Admin.Controllers;
@using vlko.core.Components;
@{
	ViewBag.Title = "Static page index";
	Html.ScriptInclude("~/Scripts/Grid.js");
}
<h2>Index</h2>

<div>
	@Html.Link("create", "Create new", (object)Routes.CreateOfThisFromThis(), title : "Create new")
</div>

<table>
	<thead>
		<th></th>
		<th>@vlko.BlogModule.ModelResources.Id</th>
		<th>@vlko.BlogModule.ModelResources.FriendlyUrl</th>
		<th>@vlko.BlogModule.ModelResources.Title</th>
		<th>@vlko.BlogModule.ModelResources.ChangeDate</th>
		<th>@vlko.BlogModule.ModelResources.PublishDate</th>
		<th>@vlko.BlogModule.ModelResources.AllowComments</th>
		<th>@vlko.BlogModule.ModelResources.CommentCounts</th>
	</thead>

@foreach (var item in Model) {

	<tr>
		<td class="no_wrap">
			<span class="action_bar">
			@Html.Link("edit", "Edit", (object)Routes.EditOfThisFromThis(item.Id))
			@Html.Link("detail", "Details", (object)Routes.DetailsOfThisFromThis(item.Id))
			@Html.Link("delete", "Delete", (object)Routes.DeleteOfThisFromThis(item.Id))
			</span>
		</td>
		<td>@item.Id</td>
		<td>@item.FriendlyUrl</td>
		<td>@item.Title</td>
		<td>@String.Format("{0:g}", item.ChangeDate)</td>
		<td>@String.Format("{0:g}", item.PublishDate)</td>
		<td>@item.AllowComments</td>
		<td>@item.CommentCounts</td>
	</tr>
}
</table>
<div>@Pager.Render(Html, Model)</div>

@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
	$(function () {
		$("#content").ajaxGrid();
	});
</script>);
}

