@model PagedModel<StaticTextViewModel>
@using vlko.BlogModule.Commands.ViewModel
@using vlko.web.Areas.Admin.Controllers;
@using vlko.core.Components;
@{
	ViewBag.Title = "Static page index";
	Html.ScriptInclude("~/Scripts/Grid.js");
}
<h2>Index</h2>

<table>
	<thead>
		<th></th>
		<th>@vlko.BlogModule.ModelResources.Id</th>
		<th>@vlko.BlogModule.ModelResources.FriendlyUrl</th>
		<th>@vlko.BlogModule.ModelResources.Title</th>
		<th>@vlko.BlogModule.ModelResources.ChangeDate</th>
		<th>@vlko.BlogModule.ModelResources.PublishDate</th>
		<th>@vlko.BlogModule.ModelResources.AllowComments</th>
		<th>@vlko.BlogModule.ModelResources.CommentCounts</th>
	</thead>

@foreach (var item in Model) { 
	
	<tr>
		<td class="no_wrap">
			@Html.Link("Edit", (object)Routes.EditOfThisFromThis(item.Id), cssClass: "grid_edit")&nbsp;
			@Html.Link("Details", (object)Routes.DetailsOfThisFromThis(item.Id), cssClass: "grid_details")&nbsp;
			@Html.Link("Delete", (object)Routes.DeleteOfThisFromThis(item.Id), cssClass: "grid_delete")
		</td>
		<td>@item.Id</td>
		<td>@item.FriendlyUrl</td>
		<td>@item.Title</td>
		<td>@String.Format("{0:g}", item.ChangeDate)</td>
		<td>@String.Format("{0:g}", item.PublishDate)</td>
		<td>@item.AllowComments</td>
		<td>@item.CommentCounts</td>
	</tr>
} 
</table>
<div>@Pager.Render(Html, Model)</div>
<p>
	@Html.Link("Create new", (object)Routes.CreateOfThisFromThis(), cssClass: "grid_create", title : "Create new")
</p>
@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
	$(function () {
		$("#content").ajaxGrid();
	});
</script>); 
}

