@model vlko.web.ViewModel.Search.SearchViewModel
@using vlko.BlogModule;
@using vlko.BlogModule.Commands.ViewModel
@using vlko.core.Components;
@using vlko.BlogModule.Roots;
@{
	ViewBag.Title = "Search";
}
<h2>Search</h2>
<section id="search_from">
	@using (Html.BeginForm(ViewContext.RouteData.GetRequiredString("action"), "Search", method: FormMethod.Get)) {
		@Html.Hidden("Page", Html.ViewContext.RequestContext.HttpContext.Request.QueryString["Page"])
		@Html.TextBoxFor(model => model.Query)
		<input type="submit" value="Search" />
	}
	@Html.ActionLink("sort by relevance", "Index", new { Model.Query })
	@Html.ActionLink("sort by date", "Date", new { Model.Query })
</section>
@if (Model.SearchResults != null) {
<section id="search_results">

	@foreach (var searchResult in Model.SearchResults)
	{
		if (searchResult is CommentSearchViewModel
			&& ((CommentSearchViewModel)searchResult).Content is StaticText)
		{
			@Html.Partial("~/Views/Content/Comment.cshtml", searchResult as CommentViewModel)
		}
		if (searchResult is StaticTextViewModel)
		{
			@Html.Partial("~/Views/Content/StaticText.cshtml", searchResult as StaticTextViewModel)
		}
		if (searchResult is TwitterStatus)
		{
			@Html.Partial("~/Views/Content/TwitterStatus.cshtml", searchResult as TwitterStatus)
		}
		if (searchResult is RssItemViewModel)
		{
			@Html.Partial("~/Views/Content/RssItem.cshtml", searchResult as RssItemViewModel)
		}
	}

<div class="cleaner">@Pager.Render(Html, Model.SearchResults, routeValues: new { Model.Query })</div>
</section>
}

