@model vlko.BlogModule.Action.ViewModel.CommentSearchViewModel
@using vlko.BlogModule.Roots; 
@using vlko.core.Tools;   
<article class="comment">
	<div class="author" title="Author">@((Model.Owner == null) ? "anonymous-" + Model.AnonymousName : Model.Owner.Name)</div>
	<div class="last-change-date" title="Date">@String.Format("{0:g}", Model.CreatedDate)@(Model.Changed ? " ver. " + Model.Version : string.Empty)</div>
	<a class="icon-link" title="Reply" rel="@Model.Id.ToString()" href="@Url.RouteUrl("PageView", routeValues: new
																		{
																			friendlyUrl = ((StaticText)Model.Content).FriendlyUrl,
																			sort = "tree"
																		})"><img src="@Url.Content("~/Content/images/comment.gif")" alt="Comment"/></a>
	<div class="title">@Html.RouteLink(Model.Name, "PageView", 
									 routeValues: new {
														friendlyUrl = ((StaticText)Model.Content).FriendlyUrl,
														sort = "tree"
													})</div>
	<div class="text">@Model.Text.RemoveTags().Shorten(200, "...")</div>
</article>
