@model RssItemViewModel
@using vlko.BlogModule.Commands.ViewModel
@using vlko.core.Tools
<article class="rss_item">
	<a href="@Model.Url">
		<img src="@Url.Content("~/Content/images/rss.png")" alt="Note link"  class="icon-link"/>
		<span class="date">@String.Format("{0:g}", Model.Published)</span>
		<h3 class="title">@Model.Title</h3>
		<div class="text">@Html.Raw(Model.Description.Shorten(250, "..."))</div>
	</a>
</article>