@model RssItemViewModel
@using vlko.BlogModule.Commands.ViewModel
@using vlko.core.Tools
<article class="rss_item">
	<span class="date">@String.Format("{0:g}", Model.Published)</span>
	<a class="icon-link" href="@Model.Url"><img src="@Url.Content("~/Content/images/rss.gif")" alt="Note link" /></a>
	<h3 class="title"><a href="@Model.Url">@Model.Title</a></h3>
	<div class="text">@Html.Raw(Model.Description.Shorten(250, "..."))</div>
</article>