@model vlko.web.ViewModel.Account.ChangePasswordModel
@{
	ViewBag.Title = "Change Password";
}
<h2>Change Password</h2>
<p>
	Use the form below to change your password. 
</p>
<p>
	New passwords are required to be a minimum of @ViewData["PasswordLength"]  characters in length.
</p>

@using (Html.BeginForm()) { 
	@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.") 
	<div>
		<fieldset>
			<legend>Account Information</legend>
				
				<div class="clearfix@(!Html.IsValid(model => model.OldPassword) ? " error" : string.Empty)">
					@Html.LabelFor(m => m.OldPassword) 
					<div class="input">
						@Html.PasswordFor(m => m.OldPassword, new { @class = "xlarge" }) 
						@Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "help-inline" }) 
					</div>
				</div>

				<div class="clearfix@(!Html.IsValid(model => model.NewPassword) ? " error" : string.Empty)">
					@Html.LabelFor(m => m.NewPassword) 
					<div class="input">
						@Html.PasswordFor(m => m.NewPassword, new { @class = "xlarge" }) 
						@Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" }) 
					</div>
				</div>

				<div class="clearfix@(!Html.IsValid(model => model.ConfirmPassword) ? " error" : string.Empty)">
					@Html.LabelFor(m => m.ConfirmPassword) 
					<div class="input">
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "xlarge" }) 
						@Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" }) 
					</div>
				</div>
				
			<div class="actions">
				<input type="submit" value="Change Password" class="btn primary"/>
			</div>
		</fieldset>
	</div>
}
