@model vlko.web.ViewModel.Account.ConfirmResetPasswordModel
@{
	ViewBag.Title = "Reset password - new password";
}

<h2>Reset password - new password</h2>
<p>
	Use the form below to change your password. 
</p>
<p>
	New passwords are required to be a minimum of @ViewData["PasswordLength"] characters in length.
</p>

@using (Html.BeginForm()) { 
	@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { @class = "ui-state-error ui-corner-all" }) 
	<div>
		<fieldset>
			<legend>New password</legend>

				@Html.HiddenFor(m => m.Username) 
				@Html.HiddenFor(m => m.VerifyToken) 
				
				<div class="clearfix@(!Html.IsValid(model => model.NewPassword) ? " error" : string.Empty)">
					@Html.LabelFor(m => m.NewPassword) 
					<div class="input">
						@Html.PasswordFor(m => m.NewPassword, new { @class = "xlarge" }) 
						@Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" }) 
					</div>
				</div>

				<div class="clearfix@(!Html.IsValid(model => model.ConfirmPassword) ? " error" : string.Empty)">
					@Html.LabelFor(m => m.ConfirmPassword) 
					<div class="input">
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "xlarge" }) 
						@Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" }) 
					</div>
				</div>
				
			<div class="actions">
				<input type="submit" value="Change Password" class="btn primary"/>
			</div>
		</fieldset>
	</div>
}
