@model vlko.web.ViewModel.Account.ConfirmResetPasswordModel
@{
	ViewBag.Title = "Reset password - new password";
}

<h2>Reset password - new password</h2>
<p>
	Use the form below to change your password. 
</p>
<p>
	New passwords are required to be a minimum of @ViewData["PasswordLength"] characters in length.
</p>

@using (Html.BeginForm()) { 
	@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { @class = "ui-state-error ui-corner-all" }) 
	<div>
		<fieldset>
			<legend>New password</legend>

			@Html.HiddenFor(m => m.Username) 
			@Html.HiddenFor(m => m.VerifyToken) 
				
			<div class="editor-label">
				@Html.LabelFor(m => m.NewPassword) 
			</div>
			<div class="editor-field">
				@Html.PasswordFor(m => m.NewPassword) 
				@Html.ValidationMessageFor(m => m.NewPassword) 
			</div>
				
			<div class="editor-label">
				@Html.LabelFor(m => m.ConfirmPassword) 
			</div>
			<div class="editor-field">
				@Html.PasswordFor(m => m.ConfirmPassword) 
				@Html.ValidationMessageFor(m => m.ConfirmPassword) 
			</div>
				
			<div>
				<input type="submit" value="Change Password" />
			</div>
		</fieldset>
	</div>
}
