@model vlko.model.Action.CRUDModel.CommentCRUDModel
@using vlko.web.Areas.Admin.Controllers;
@using vlko.web.Controllers;
@{
	View.Title = "Details";
}
<h2>Details</h2>

<div>
	<fieldset>
		<legend>Fields</legend>
		
		@Html.DisplayFor(model => model.Id)         
		@Html.DisplayFor(model => model.ContentId)         
		@Html.DisplayFor(model => model.Name)         
		@Html.DisplayFor(model => model.Text)         
		@Html.DisplayFor(model => model.ChangeDate)         
		@Html.DisplayFor(model => model.ParentId)         
		@Html.DisplayFor(model => model.AnonymousName)         
		@Html.DisplayFor(model => model.ClientIp)         
		@Html.DisplayFor(model => model.UserAgent)         
	</fieldset>
</div>
<div class="ajax_ignore">
	@(Html.ActionLink<CommentController>(c => c.Edit(Model.Id), "Edit")) |
	@Html.ActionLink("Back to List", "Index") 
</div>

