@model CommentCRUDModel
@using vlko.BlogModule.Commands.CRUDModel
@using vlko.web.Areas.Admin.Controllers;
@using vlko.web.Controllers;
@{
	ViewBag.Title = "Details";
}
<div class="ajax_ignore">
	@Html.Link("back", "Back to List", (object)Routes.IndexOfThisFromThis) 
</div>

<h2>Details</h2>

<div>
	<fieldset>
		<legend>Fields</legend>
		
		@Html.DisplayFor(model => model.Id)         
		@Html.DisplayFor(model => model.ContentId)         
		@Html.DisplayFor(model => model.Name)         
		@Html.DisplayFor(model => model.Text)         
		@Html.DisplayFor(model => model.ChangeDate)         
		@Html.DisplayFor(model => model.ParentId)         
		@Html.DisplayFor(model => model.AnonymousName)         
		@Html.DisplayFor(model => model.ClientIp)         
		@Html.DisplayFor(model => model.UserAgent)         
	</fieldset>
</div>
<div class="ajax_ignore">
	@(Html.Link("Edit", (object)Routes.EditOfThisFromThis(Model.Id)))
</div>

