@using vlko.BlogModule.Commands.CRUDModel
@model CommentCRUDModel
@{
	ViewBag.Title = "Edit";

	Script.RegisterValidationJs(Html);
}
<div class="ajax_ignore">
	@Html.Link("back", "Back to List", (object)Routes.IndexOfThisFromThis)
</div>

<h2>Edit</h2>

@using (Html.BeginForm()) {
	<div>
		@Html.ValidationSummary(true)

		<fieldset>
			<legend>Fields</legend>

			@Html.HiddenFor(model => model.Id)
			@Html.DisplayFor(model => model.ContentId)
			@Html.EditorFor(model => model.Name)
			@Html.EditorFor(model => model.Text)
			@Html.DisplayFor(model => model.AnonymousName)
			@Html.DisplayFor(model => model.ChangeDate)
			@Html.DisplayFor(model => model.ParentId)
			@Html.DisplayFor(model => model.ChangeUser.Name)
			@Html.DisplayFor(model => model.ClientIp)
			@Html.DisplayFor(model => model.UserAgent)

		</fieldset>
	</div>
	<div class="actions">
		<input type="submit" class="btn primary" value="Save" />
	</div>
}