@model DateTime
@using System.Globalization;
@using Microsoft.Web.Mvc.Html
<div class="clearfix@(!Html.IsValid(model => model) ? " error" : string.Empty)">
	@Microsoft.Web.Mvc.Html.HtmlHelperExtensions.LabelFor(Html, model => model)
	<div class="input">
		@Html.TextBox("", Html.FormatDateValue(ViewData.Model), new { @class = "large" })
		@Html.ValidationMessageFor(model => model, null, new {@class = "error"})
		@if (!string.IsNullOrWhiteSpace(ViewData.ModelMetadata.Description)) {
		<span class="help-block">
			@Html.Raw(ViewData.ModelMetadata.Description)
		</span>
		}
	</div>
</div>
@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
$(function() {
	$("#@item.ViewData.ModelMetadata.PropertyName").datepicker({dateFormat: "@item.Html.GetCurrentJsDatePattern() ", showAnim:"fadeIn"});
});
</script>);
}