@model vlko.web.Areas.Admin.ViewModel.FileBrowser.FileBrowserViewModel
@using vlko.web.Areas.Admin.Controllers
@using vlko.web.Controllers
@{
	ViewBag.Title = "Files";

	Html.ScriptInclude("~/Scripts/Grid.js");
	Html.ScriptInclude("~/Scripts/upload/ajaxupload.js");
	Script.RegisterValidationJs(Html);
}

@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
	$(function () {
		var fileInput = $("#File");
		var form = fileInput.parents("form");
		$("input[type=submit]", form).hide();
		var upload = new AjaxUpload(fileInput, {
			action: form.attr("action"),
			name: 'File',
			onSubmit: function () {
				if (form.valid()) {
					createLoading();
					this.disable();
					var fileName = $("#@item.Html.IdFor(model => model.Ident)");
					var ident = fileName.attr("name");
					this.setData({
						"X_REQUESTED_WITH": "XMLHttpRequest",
						ident: fileName.val()
					});
				}
			},
			onComplete: function (file, responseDoc) {
				var content = $("#FileBrowser");
				var html = $("#FileBrowser", responseDoc).html();
				$("script:not(:empty)", responseDoc).each(function () {
					debugger;
					html += '<' + this.tagName + ' type="text/javascript">' + $(this).html() + '</' + this.tagName + '>';
				});
				content.html(html);
				closeLoading();
				updateEffect(content);
			}
		});
	});
</script>);
}

<h2>User uploaded files</h2>

<div id="FileBrowser" class="ajax_content">
	@using (Html.BeginForm((object)Routes.UploadOfThisFromThis, encType: "multipart/form-data")) {
		@Html.ValidationSummary(string.Empty, new { @class = "ui-state-error ui-corner-all" })
		<fieldset>
			<legend>Upload new file</legend>
			@Html.EditorFor(model => model.Ident)
			<div class="clearfix">
				<label  for="file">Filename:</label>
				<div class="input">
					<input  type="file" name="File" id="File"  />
				</div>
			</div>
			<div class="actions">
				<input type="submit" value="Upload" class="btn primary"/>
			</div>

		</fieldset>
 }
	<table>
		<tr>
			<th></th>
			<th><@vlko.BlogModule.ModelResources.Url </th>
			<th>@vlko.BlogModule.ModelResources.Size</th>
		</tr>

	@foreach (var item in Model.UserFiles)
 {

		<tr>
			<td>@Html.Link("Delete", (object)Routes.DeleteOfThisFromThis(ident: item.Ident), cssClass: "grid_delete", title: "Delete")</td>
			<td><a href="@item.Url" target="Preview">@item.Url</a></td>
			<td>@item.Size</td>
		</tr>

 }

	</table>
</div>
@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
	$(function () {
		$("#FileBrowser").ajaxGrid();
	});
</script>);
}

