@model RssFeedCRUDModel
@using vlko.BlogModule.Commands.CRUDModel
@using vlko.web.Areas.Admin.Controllers;
@using vlko.web.Controllers;
@{
	ViewBag.Title = "Details";
}
<div class="ajax_ignore">
	@Html.Link("back", "Back to List", (object)Routes.IndexOfThisFromThis) 
</div>

<h2>Details</h2>

<div>
	<fieldset>
		<legend>Fields</legend>
		
		@Html.DisplayFor(model => model.Id) 
		@Html.DisplayFor(model => model.Name) 
		@Html.DisplayFor(model => model.Url) 
		@Html.DisplayFor(model => model.AuthorRegex) 
		@Html.DisplayFor(model => model.GetDirectContent) 
		@Html.DisplayFor(model => model.DisplayFullContent) 
		@Html.DisplayFor(model => model.ContentParseRegex) 

	</fieldset>
</div>
<div class="ajax_ignore">
	@(Html.Link("Edit", (object)Routes.EditOfThisFromThis(Model.Id)))
</div>

