@using vlko.BlogModule.Commands.CRUDModel
@model RssFeedCRUDModel
@{
	ViewBag.Title = "Edit";

	Script.RegisterValidationJs(Html);
}
<div class="ajax_ignore">
	@Html.Link("back", "Back to List", (object)Routes.IndexOfThisFromThis)
</div>

<h2>Edit</h2>

@using (Html.BeginForm()) {
	<div>
		@Html.ValidationSummary(true)

		<fieldset>
			<legend>Fields</legend>

			@Html.HiddenFor(model => model.Id)
			@Html.EditorFor(model => model.Name)
			@Html.EditorFor(model => model.Url)
			@Html.EditorFor(model => model.AuthorRegex)
			@Html.EditorFor(model => model.GetDirectContent)
			@Html.EditorFor(model => model.DisplayFullContent)
			@Html.EditorFor(model => model.ContentParseRegex)
			<div class="clearfix">
				<div class="input">
					<button id="test_button" value="Test" class="btn">Test</button>
				</div>
			</div>

		</fieldset>
	</div>
	<div class="actions">
		<input type="submit" class="btn primary" value="Save" />
	</div>
}

<div id="test_results"></div>

@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
	$(function () {
		$("#test_button").click(function (event) {
			var form = $(this).parents("form");
			createLoading();
			$.ajax({
				type: "POST",
				url: "@Routes.TestFeedOfThisFromThis",
				data: form.serialize(),
				success: function (data) {
					var content = $("#test_results");
					content.html(data);
					closeLoading();
					updateEffect(content);
				},
				error: ajaxException
			});
			event.preventDefault();
		});
	});
</script>);
}

