@model PagedModel<RssFeedViewModel>
@using vlko.BlogModule.Commands.ViewModel
@using vlko.web.Areas.Admin.Controllers;
@using vlko.web.Controllers;
@using vlko.core.Components;
@{
	ViewBag.Title = "Rss feed index";
	
	Html.ScriptInclude("~/Scripts/Grid.js");
}
<h2>Index</h2>

<div>
	@Html.Link("create", "Create new", (object)Routes.CreateOfThisFromThis())
</div>

<table>
	<tr>
		<th></th>
		<th>@vlko.BlogModule.ModelResources.Name</th>
		<th>@vlko.BlogModule.ModelResources.FeedUrl</th>
		<th>Show full content</th>
		<th>Number of feed items</th>
	</tr>
@foreach (var item in Model) { 
	<tr>
		<td class="no_wrap">
			@Html.Link("edit", "Edit", (object)Routes.EditOfThisFromThis(item.Id))
			@Html.Link("detail", "Details", (object)Routes.DetailsOfThisFromThis(item.Id))
			@Html.Link("delete", "Delete", (object)Routes.DeleteOfThisFromThis(item.Id))
		</td>
		<td>@item.Name</td>
		<td>@item.FeedUrl</td>
		<td>@item.DisplayFullContent</td>
		<td>@item.FeedItemCount</td>
	</tr>
} 

</table>
<div>@Pager.Render(Html, Model)</div>
@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
	$(function () {
		$("#content").ajaxGrid();
	});
</script>);
}	

