@model IEnumerable<vlko.model.Action.ViewModel.CommentTreeViewModel>
@using vlko.web.Controllers;
@using vlko.core.Components;
@using System.Globalization;
@using vlko.web.ViewModel.Page;
@{
	Html.ScriptInclude("~/Scripts/Grid.js");
}
@foreach (var item in Model) {
	<article class="comment cleaner" style="margin-left:@((10 * Math.Log(2.8 + item.Level) - 10).ToString(CultureInfo.InvariantCulture))ex;">
		<div class="author" title="Author">@((item.Owner == null) ? "anonymous-" + item.AnonymousName : item.Owner.Name)</div>
		<div class="last-change-date" title="Date">@String.Format("{0:g}", item.CreatedDate)@(item.Changed ? " ver. " + item.Version : string.Empty)</div>
		<a class="icon-link reply_link" title="Reply" rel="@item.Id.ToString()" href="@Url.RouteUrl("PageCommentReply", routeValues: new
													{
														friendlyUrl = Html.ViewContext.RouteData.GetRequiredString("friendlyUrl"),
														parentId = item.Id,
														sort = Html.ViewContext.RouteData.GetRequiredString("sort")
													})"><img src="@Url.Content("~/Content/images/comment.gif")" alt="Comment"/></a>
		<div class="title">@Html.Raw(item.Name)</div>
		<div class="text">@Html.Raw(item.Text)</div>
	</article>
	@Html.Partial("CommentsTree", item.ChildNodes)
}

