<!DOCTYPE html>
<html>
<head>
	<title>vlko - @ViewBag.Title</title>
	<meta name="description" content="vlko - one coder of many">
	<meta name="author" content="twitter:@@vlkodotnet">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	@{ 
		Html.CssInclude("~/Content/Site.css");
		Html.CssInclude("~/Content/jquery-ui.custom.css");
		
		Html.ScriptRootDebugInclude("http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js", "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js", 
				fallbackTypeCheck: "jQuery", fallbackFile: "~/Scripts/jquery-1.6.2.min.js");
		Html.ScriptRootInclude("http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.15/jquery-ui.min.js",
				fallbackTypeCheck: "jQuery.ui", fallbackFile: "~/Scripts/jquery-ui-1.8.15.min.js");
				
		Html.ScriptRootInclude("~/Scripts/jquery.ba-bbq.js");
		Html.ScriptRootInclude("~/Scripts/Common.js"); 
	}

	@Html.RenderCss()
</head>

<body>
	<div class="page">
		<div id="header">
			
			<div id="title">
				<h1><span class="name">vlko</span> - one coder of many</h1>
			</div>
			<div id="search">
				@using (Html.BeginForm((object)Routes.IndexOfSearch(), FormMethod.Get)) {
				@*	@Html.Hidden("Page", Html.ViewContext.RequestContext.HttpContext.Request.QueryString["Page"]);*@
					<div class="input-append">
						@Html.TextBox("Query", Html.ViewContext.RequestContext.HttpContext.Request.QueryString["Query"], new { @class="large" })
						<label class="add-on active">
							<input type="submit" value="Search" class="btn"/>
						</label>
					</div>
				} 
			</div>
			<div id="menucontainer">
			
				<ul id="menu">              
					<li @Html.Raw(ViewContext.Controller is vlko.web.Controllers.HomeController ? " class=\"selected\"" : string.Empty)>@Html.Link("Home", (object)Routes.IndexOfHome())</li>
					<li @Html.Raw(ViewContext.Controller is vlko.web.Controllers.AboutController ? " class=\"selected\"" : string.Empty)>@Html.Link("About", (object)Routes.IndexOfAbout())</li>
					<li @Html.Raw(ViewContext.Controller is vlko.web.Controllers.PageController ? " class=\"selected\"" : string.Empty)>@Html.Link("Blog", (object)Routes.IndexOfPage())</li>
					@if (Request.IsAuthenticated) {
						<li@Html.Raw(ViewContext.Controller is vlko.web.Areas.Admin.Controllers.StaticPageController ? " class=\"selected\"" : string.Empty)>@Html.Link("Static text", (object)Routes.IndexOfStaticPageFromAdmin())</li>
						<li@Html.Raw(ViewContext.Controller is vlko.web.Areas.Admin.Controllers.CommentController ? " class=\"selected\"" : string.Empty)>@Html.Link("Comments", (object)Routes.IndexOfCommentFromAdmin())</li>
						<li@Html.Raw(ViewContext.Controller is vlko.web.Areas.Admin.Controllers.RssFeedController ? " class=\"selected\"" : string.Empty)>@Html.Link("Rss", (object)Routes.IndexOfRssFeedFromAdmin())</li>
					}
				</ul>
			</div>
		</div>
		<div id="main">
			<div id="content">
			@RenderBody()
			</div>
			<div id="footer" class="cleaner">
				<div id="logindisplay">
					@Html.Partial("LogOnUserControl")
				</div>
			</div>
		</div>
	</div>
		@Html.RenderScripts()
		@Html.RenderInlineScripts()
<script>
	var _gaq = [['_setAccount', '@vlko.BlogModule.Settings.GAToken.Value'], ['_trackPageview']];
	(function(d, t) {
		var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
		g.async = true;
		g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g, s);
	})(document, 'script');
</script>
</body>
</html>
